<tr>
  <td><%= @link.long_url %></td>
  <td><%= @link.short_url %></td>
  <td><%= @link.ip_address %></td>
  <td><%= @link.total_click %></td>
  <td><%= link_to 'Details', @link, :class => "btn primary" %></td>
</tr>
