<div class="row">
  <div class="span16">
    <table>
      <thead>
      <tr>
        <th>Long url</th>
        <th>Short url</th>
        <th>Ip address</th>
        <th>Total click</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @links.each do |link| %>
          <tr>
            <td><%= link.long_url %></td>
            <td><%= link.short_url %></td>
            <td><%= link.ip_address %></td>
            <td><%= link.total_click %></td>
            <td><%= link_to 'Show', link %></td>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
