<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= controller.page_title %></title>
  <meta name="description" content="Rubly URL Shortener is used to create short URLs that can be easily shared, tweeted, or emailed to friends.">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "bootstrap", "rubly" %>
  <%= javascript_include_tag "jquery.min", "jquery-ui.min", "application" %>
  <%= csrf_meta_tag %>

  <link rel="shortcut icon" href="../images/favicon.ico">
  <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png">
  <style type="text/css">
      body {
        padding-top: 60px;
      }
  </style>
</head>
<body>

<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Rubly url shortener</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
   <div class="hero-unit">
        <%= yield %>
   </div>
   <%= render 'links' %>
  <footer>
    <p>&copy; rbs 2011</p>
  </footer>

</div>
<!-- /container -->

</body>
</html>
